# Env
.env
.env.local

# Go
backend/bin/
backend/web/

# Node
web/node_modules/
web/.svelte-kit/
web/build/

# OS
.DS_Store
Thumbs.db

**/tmp/**

# Android Studio
web/android/.idea/deploymentTargetSelector.xml
web/android/.idea/
